@import "../../styles/root";

.about {
  @include marginAllSides10px;
}

.about-container {
  display: grid;
  grid-template-areas:
    "about-b"
    "about-a"
    "about-c"
    "about-d";
  justify-content: center;
  align-items: flex-start;
}

.about-child-paragraph {
  font-style: italic;
}

.child-body-segment {
  display: flex;
  flex-direction: column;
}

.about-child-header {
  text-align: center;
}

.contact-details-list-item {
  list-style: none;
}

.contact-details-list-item-timing{
  margin-left:5%;
}
// media queries

//tablet layout for about page
@media screen and (min-width: $min-width-tablet) {
  .about-container {
    grid-template-areas:
      "about-b"
      "about-a"
      "about-c"
      "about-d";
    align-items: center;
  }
}

//tablet layout for about page
@media screen and (min-width: $min-width-laptop) {
  .about-container {
    grid-template-areas:
      "about-b about-b about-b"
      "about-a about-c about-d";
    align-items: flex-start;
  }
}

.about-a {
  grid-area: about-a;
}
.about-b {
  grid-area: about-b;
}
.about-c {
  grid-area: about-c;
}
.about-d {
  grid-area: about-d;
}
