@import "../../../../styles/root";

.edit-info-select-form {
  @include configDarkestFontColor;
  // font-weight: bold;
}

.edit-info-input-group {
  @include configDarkestFontColor;
  // font-weight: bold;
}

.edit-info-error {
  @include configRedFontColor;
  display: flex;
  justify-content: center;
  align-items: center;
  @include marginAllSides10px;
  font-weight: bold;
}
