@import "../../styles/root";

.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider-paragraph {
  font-style: italic;
}
