@import "../../styles/root";

.home {
  @include paddingAllSides10px;
}

.home-content {
  @include marginAllSides10px;
}

@media screen and (min-width: $min-width-laptop) {
  .home-container {
    display: grid;
    grid-template-areas: "image content";

    .home-image {
      width: 100%;
      grid-area: image;
    }
    .home-content {
      grid-area: content;
    }
  }

  .home-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
