@import "../style-components/_variables";

/*----------------------------------------
MIXINS for Colors
----------------------------------------*/

// set background color of an element to darkest background color
@mixin configDarkestBackgroundColor {
  background-color: $color-background-darkest;
}

@mixin configDarkerBackgroundColor {
  background-color: $color-background-darker;
}

@mixin configRedBackground {
  background-color: $color-background-red;
}
@mixin configBlueBackground {
  background-color: $color-background-blue;
}
@mixin configYellowBackground {
  background-color: $color-background-yellow;
}
@mixin configGreenBackground {
  background-color: $color-background-green;
}
@mixin configPinkBackground {
  background-color: $color-background-pink;
}
@mixin configPurpleBackground {
  background-color: $color-background-purple;
}
@mixin configOrangeBackground {
  background-color: $color-background-orange;
}
@mixin configIndigoBackground {
  background-color: $color-background-indigo;
}

//set font color of an element to lightest font color
@mixin configLightestFontColor {
  color: $color-font-lightest;
}

@mixin configLighterFontColor {
  color: $color-font-lighter;
}

@mixin configDarkestFontColor {
  color: $color-font-darkest;
}

@mixin configRedFontColor{
  color:$color-font-red;
}

/*----------------------------------------
MIXINS for Hover Colors
----------------------------------------*/
@mixin brightenOnHover {
  color: $color-hover-font-lightest;
}

/*----------------------------------------
MIXINS for Margin and Padding
----------------------------------------*/

// set margin of 10 px on all sides
@mixin marginAllSides10px {
  margin: 10px;
}
// set padding of 10 px on all sides
@mixin paddingAllSides10px {
  padding: 10px;
}

/*----------------------------------------
MIXINS for Border
----------------------------------------*/

// set border radius of 8 px on all sides
@mixin borderRadius8px {
  border-radius: 8px;
}
